---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const res = await fetch("http://localhost:3000/api/recipesrich");
const posts = await res.json();

const processedPosts = posts.docs.map((post: { id: number, title: string; content: unknown, image: string }) => {
  return {
    id: post.id,
    title: post.title,
    content: post.content,
    image: post.image?.url == undefined ? "/RecipeManager/images/blog-placeholder-about.jpg" : "http://localhost:3000" + post.image.url
  }
});
---

<!doctype html>
<html lang="en">
 <BaseHead />
  <Header />

 <div class="post-grid" id="postGrid">
      {
        processedPosts.map((post: { id: number, title: string; content: unknown, image: string }) => (
       <a 
            href={`/RecipeManager/rich/${post.id}/`} 
            class="post-card"
            data-title={post.title.toLowerCase()}
          >
            <div class="post-card-content">
              <h3 class="post-card-title">{post.title}</h3>
              <img src={post.image} alt="image not found" />
            </div>
          </a>
      ))
      }
    </div>
    <div id="no-results" style="display:none; text-align:center; margin-top:2rem; color:var(--color-muted);"> Nu s-au gasit retete </div>

  <script>
  const searchInput = document.getElementById("search");
  const cards = document.querySelectorAll(".post-card");
  const noResults = document.getElementById("no-results");

  if (searchInput instanceof HTMLInputElement && noResults instanceof HTMLElement) {
    searchInput.addEventListener("input", (event) => {
      const target = event.target;
      if (!(target instanceof HTMLInputElement)) return;

      const query = target.value.toLowerCase();
      let visibleCount = 0;

      cards.forEach((card) => {
        if (!(card instanceof HTMLElement)) return;

        const title = card.dataset.title ?? "";

        if (title.includes(query)) {
          card.style.display = "block";
          visibleCount++;
        } else {
          card.style.display = "none";
        }
      });

      noResults.style.display = visibleCount === 0 ? "block" : "none";
    });
  }
</script>

</body>
</html>