---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const posts = (await getCollection('blog'));
---

<!doctype html>
<html lang="en">
    <head>
        <style>
             .listcontainer {
                margin-top: 24px;
                display: grid;
                gap: 24px;
                grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
				margin-inline: auto;
                max-width: 1280px;
                width: auto;
            }

            .listItem {
                width: 100%;
                border-radius: 8px; 
                box-shadow: var(--box-shadow) ;
            } 

			a {
				text-decoration: none;
			}
        </style>
    </head>
	<BaseHead/>
	<Header/>
	<body>
        <div class="listcontainer">
		{
			posts.map((post) => (
                    <div class="listItem">
                    <a class="recipelink" href={`/blog/${post.slug}/`}>
					<img width="100%" height="280px" src={`${post.data.heroImage}`}/>
                    <div style="padding: 12px;">
				    <h4>{post.data.title}</h4>
					</a> 
                    </div>
                    </div>
			))
        }
        </div>
	</body>
</html>
