---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, heroImage } = Astro.props;
---

<html lang="en">
	<head>	
		<BaseHead/>
		<style>
		 .listcontainer {
                margin-top: 24px;
                display: grid;
                gap: 24px;
				margin-inline: auto;
                max-width: 960px;
                width: auto;
            }
			.hero-image img {
				display: block;
				max-width: 360px;
				width: auto; 
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				margin-inline: auto;
			}
			
			img {
				
			}
		</style>
	</head>

	<body>
		<Header />
		<div class="listcontainer">
				<div class="hero-image" >
					{heroImage && <img src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</div>
		<!-- <Footer /> -->
	</body>
</html>
